<div class="container">
    <div class="titulo">
        <h1>¡Bienvenidos!</h1>
    </div>

    <div class="containerTexto">
        <div class="texto">
            <h3>El juego virtual más antiguo y el más reciente a su disposición</h3>
            <p>
                Rincón Gamer es un espacio destinado a guardar, mantener y renovar el contenido de juegos para multiconsola,sin restricciones y de forma gratuita.
            </p>
            <p>
                Vas a poder descargar lo que estás buscando de forma segura y libre de publicidad. Una página con actualizaciones semanales, que mejora constantemente gracias a los usuarios que participan de la propuesta a través de las redes enviando consultas sobre los juegos que quisieran conseguir.
            </p>
            <p>
                Nuestro compromiso es subir los juegos que necesites en el menor tiempo posible, con variedad de opciones de descarga. El objetivo es hacer de esta plataforma la más importante biblioteca virtual de juegos, y con tu ayuda vamos a poder lograrlo.
            </p>
            <p>
                Solo tenés que registrarte gratuitamente y consultarnos por el juego que te interesa. Te invitamos a seguirnos en nuestras redes sociales y compartir nuestros contenidos.
            </p>
        </div>
    </div>
</div>