@import '../../styles.scss';

.logo{
    @include roundContainer(3em, -1);
    position: relative;
    width: 15.4vw;
    height: auto;

    img{
        width: 100%;
        border-radius: 32px;
    }
}